services:
  fortnite-replay-api:
    build:
      context: .
      dockerfile: Dockerfile
    image: fortnite-replay-api-image:latest
    container_name: fortnite_replay_prod  # Nombre claro para identificarlo
    restart: always  # CRUCIAL: Si el servidor se reinicia o la app falla, Docker la levanta sola.
    ports:
      - "5138:8080"  # Tu servidor expone el 5138 (que ya abriste en UFW), el contenedor escucha en el 8080.
    environment:
      # Cambia a Production para activar optimizaciones y ocultar errores detallados
      - ASPNETCORE_ENVIRONMENT=Production 
      # Define explícitamente el puerto interno (estándar .NET 8+)
      - ASPNETCORE_HTTP_PORTS=8080